In [1]:
import pandas as pd
import numpy as np
import os, sys
sys.path.append(os.path.abspath(os.path.join('../Dataset')))

### Importing the dataset

In [30]:
df = pd.read_csv('Dataset/ToS-100.csv',header=0,encoding='utf-8') 
# A, CH, CR, J, LAW, LTD, PINC, TER, USE
data = df[['text', 'label', 'A', 'CH', 'CR', 'J', 'LAW', 'LTD', 'PINC', 'TER', 'USE']]
data

,text,label,A,CH,CR,J,LAW,LTD,PINC,TER,USE
0,websites & communications terms of use,0,0,0,0,0,0,0,0,0,0
1,please read the terms of this entire document ...,0,0,0,0,0,0,0,0,0,0
2,by accessing or signing up to receive communic...,1,0,0,0,0,0,0,0,0,1
3,our websites include multiple domains such as ...,0,0,0,0,0,0,0,0,0,0
4,you may also recognize our websites by nicknam...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
20412,you may terminate your account at our service ...,0,0,0,0,0,0,0,0,0,0
20413,the following provisions shall survive termina...,0,0,0,0,0,0,0,0,0,0
20414,"the company reserves the right , at its sole d...",1,0,1,0,0,0,0,0,0,0
20415,"your continued use of the service , following ...",1,0,0,0,0,0,0,0,0,1
20416,the last revision will be reflected in the `` ...,0,0,0,0,0,0,0,0,0,0

(ltd) liability exclusions and limitations

(cr) the provider’s right to unilaterally remove consumer content from the service, including in-app purchases

(ter) the provider’s right to unilaterally terminate the contract

(ch) the provider’s right to unilaterally modify the contract and/or the service

(a) arbitration on disputes arising from the contract

In [45]:
# only keeps the unfair clauses in this five categories
unfair_clauses = ['LTD','CR','TER','CH','A']
for index, row in data.iterrows():
    if int(row.label) == 1:
        #find which column is 1
        for i in range(2, 11):
            try: 
                if row[i] == 1 and (data.columns[i] not in unfair_clauses):
                    data = data.drop(index)
                    break
            except:
                print("error: in row ", index, " column ", i)
                continue
data.reset_index(drop=True, inplace=True)
#remove unused columns and labels with 0 into a new columns called 'fair' as 1
data['fair'] = 1 - data['label']
cleaned_df = data[['text','LTD','CR','TER','CH','A','fair']]

unfair

In [49]:
cleaned_df[cleaned_df['fair'] == 0]

,text,LTD,CR,TER,CH,A,fair
36,you understand and agree that mozilla reserves...,0,1,0,0,0,0
48,we may suspend or terminate your access to our...,0,0,1,0,0,0
56,"except as required by law , mozilla and the in...",1,0,0,0,0,0
57,the collective liability of mozilla and the in...,1,0,0,0,0,0
58,some jurisdictions do not allow the exclusion ...,1,0,0,0,0,0
...,...,...,...,...,...,...,...
19787,if you repeatedly infringe third parties ' ip ...,0,0,1,0,0,0
19798,the company reserves the right -lrb- but has n...,0,1,1,0,0,0
19799,terminate your account or your access to the s...,0,1,1,0,0,0
19800,monitor or review any content submitted by you...,0,1,1,0,0,0
19804,"the company reserves the right , at its sole d...",0,0,0,1,0,0

fair

In [50]:
cleaned_df[cleaned_df['fair'] == 1]

,text,LTD,CR,TER,CH,A,fair
0,websites & communications terms of use,0,0,0,0,0,1
1,please read the terms of this entire document ...,0,0,0,0,0,1
2,our websites include multiple domains such as ...,0,0,0,0,0,1
3,you may also recognize our websites by nicknam...,0,0,0,0,0,1
4,"some of our websites connect you with links , ...",0,0,0,0,0,1
...,...,...,...,...,...,...,...
19797,this agreement is concluded between you and th...,0,0,0,0,0,1
19801,you may rectify or remove any personal informa...,0,0,0,0,0,1
19802,you may terminate your account at our service ...,0,0,0,0,0,1
19803,the following provisions shall survive termina...,0,0,0,0,0,1
19805,the last revision will be reflected in the `` ...,0,0,0,0,0,1